body{
  font-family:'Times New Roman', Times, serif;
}
#full_page{
  width: 100%;
  height: 100%;
}
header{
  width: 100%;
  height: 20%;
}
#top_menu{
  width: 100%;
  height: 80%;
  float: top;
}
#title{
  height: 90%;
  width: 50%;
  padding-right: 10px;
  margin: 2px;
  border-width: 1px;
  border-color: black;
  float: left;
}
.sub_title{
  height: 60%;
  width: 10%;
  padding: 2%;
  border-width: 1px;
  border-color: black;
  float: left;
}

#contact_box{
  float: top, right;
}
