body {
    background-color: #D5C7A3;
    font-family:'Times New Roman', Times, serif;

  }
  /* HEADER FORMATTING */
  #nav_box{
    float: top;
    background-image: url("Images/the_kiss_sample.png");
    border-radius: 5px 5px;
    color : #251d13;
    border: #251d13;
    width: 70%;
    height: 10%
    border-radius: 10px 10px;
    margin: 2%;
  }
  #title{
    width: 40%;
    height: 100%;
  }
  .sub_title{
    float: top, left;
    width: 10%;
    height: 50%;

  }
  #contact_box{
    float: right;
    width: 20%;
    height: 10%;
    margin: 1%;
    padding: .5%;
  }
  .contact_button{
    background-color:#D5C7A3;
    border-radius: 10px 10px;
    width: 25px;
    height: 25px;
  }
  img{
    height: 50%;
    width: 50%;
  }
  #intro_img{
    margin: auto;
    width: 50%;
    border:#251d13;
    border-radius: 2px;
  }

  